body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}
li {
  list-style: none;
}
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.center {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
::-webkit-input-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis;
}
::-moz-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis;
}
/* Firefox 19+ */
:-moz-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis;
}
/* Firefox 18- */
:-ms-input-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis;
}
.socials li {
  display: inline-block;
  vertical-align: top;
}
.socials li a {
  display: block;
  padding: 5px;
  font-size: 14px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: .3s;
  transition: .3s;
}
.socials li:hover a {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  color: #ffffff;
}
.h-slider {
  position: relative;
}
.h-slider__item {
  position: relative;
  width: 100%;
  height: 798px;
  background-size: cover;
  background-position: center;
}
.h-slider__item._overlay::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #5e5e5e;
  opacity: .6;
}
.h-slider__descr {
  position: absolute;
  width: 50%;
  height: auto;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}
.h-slider__h2 {
  color: #fff;
  font-size: 62px;
  font-weight: normal;
}
.h-slider__h2 span {
  font-weight: bold;
}
.h-slider__p {
  font-size: 48px;
  color: #fff;
}
.h-slider__p span {
  font-weight: light;
  color: #0feb9e;
}
.h-slider__p._decor {
  position: relative;
  display: inline-block;
  font-size: 18px;
}
.h-slider__p._decor::before,
.h-slider__p._decor::after {
  position: absolute;
  content: '';
  left: -25%;
  top: 12px;
  width: 30px;
  height: 1px;
  background: #0feb9e;
}
.h-slider__p._decor::after {
  left: auto;
  right: -25%;
}
.h-slider__social {
  margin-top: 50px;
}
.h-slider .owl-dots {
  position: absolute;
  margin-top: 0 !important;
  right: 50px;
  top: 50%;
}
.h-slider .owl-dots .owl-dot {
  display: block;
  margin: 15px 0;
}
.h-slider .owl-dots .owl-dot span {
  border: 1px solid #8e8e8e;
  background: transparent;
}
.h-slider .owl-dots .owl-dot.active span {
  background: #fff;
  border: 1px solid #8e8e8e;
}
.header {
  position: relative;
}
.h-nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
}
.h-nav__wrapper {
  display: table;
}
.h-nav__logo {
  display: table-cell;
  vertical-align: middle;
}
.h-nav__logo a {
  color: #b1b1b1;
}
.h-nav__logo a span {
  position: relative;
  padding-left: 50px;
  vertical-align: super;
}
.h-nav__logo a span::before {
  position: absolute;
  content: '';
  left: 25px;
  top: 0;
  width: 1px;
  height: 20px;
  background: #b1b1b1;
}
.h-nav__nav {
  display: table-cell;
  text-align: right;
}
.nav-list li {
  display: inline-block;
  vertical-align: top;
}
.nav-list li a {
  position: relative;
  display: block;
  padding: 25px 17.5px;
  text-align: center;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1;
}
.nav-list li a::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .4s;
  transition: .4s;
  z-index: -1;
}
.nav-list li a:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.nav-list li.active a {
  position: relative;
  background: #000;
}
.nav-list li.active a::before {
  position: absolute;
  content: '';
  top: 1px;
  left: 0;
  right: 0;
  height: 2px;
  background: red;
}
.section-top {
  padding: 60px 0 30px;
  text-align: center;
}
.section-top h2 {
  padding-bottom: 10px;
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  color: #0eb493;
}
.section-top span {
  position: relative;
  display: inline-block;
  padding: 0 25px 20px;
  line-height: 0;
  color: #dce1e5;
}
.section-top span::before,
.section-top span::after {
  position: absolute;
  content: '';
  top: 10px;
  left: -110px;
  display: inline-block;
  width: 110px;
  height: 1px;
  background: #dce1e5;
}
.section-top span::after {
  left: auto;
  right: -110px;
}
.section-top p {
  margin: 0 auto;
  max-width: 930px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #062033;
}
.features {
  padding-bottom: 45px;
}
.features__item {
  margin-bottom: 60px;
}
.features__item span {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  width: 10.5%;
  line-height: 40px;
  text-align: center;
  border: 1px solid #000;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.features__descr {
  display: inline-block;
  vertical-align: top;
  width: 80%;
}
.features__descr h3 {
  margin-bottom: 20px;
}
.isotope {
  text-align: center;
}
.isotope .iso-nav {
  margin: 20px 0 35px;
}
.isotope .iso-nav ul {
  text-align: center;
}
.isotope .iso-nav ul li {
  display: inline-block;
  vertical-align: top;
  padding: 5px 15px;
  margin-right: 50px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}
.isotope .iso-nav ul li.active {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
  background: #0eb493;
}
.isotope .main-iso {
  max-width: 1600px;
  margin: 0 auto;
}
.isotope .main-iso .iso-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  max-width: 400px;
  height: 299px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.isotope .main-iso .iso-item a {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  right: 0;
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.isotope .main-iso .iso-item a span {
  opacity: 0;
}
.isotope .main-iso .iso-item:hover a {
  background: red;
}
.isotope .main-iso .iso-item:hover span {
  opacity: 1;
}
