.footer {
    padding: 100px 0 130px;
    color: #fff;
    background: @d-green;
    @media (max-width: @tablet) {
        padding: 70px 0;
        text-align: center;
    }
    &__text,
    &__subscribe,
    &__explore,
    &__copyright {
        .dib(top);
        @media (max-width: @desktop) {
            width: 98%;
            margin-bottom: 15px;
        }
        h5 {
            margin-bottom: 42px;
            font-size: 14px;
            font-weight: bold;
            @media (max-width: @desktop) {
                margin-bottom: 15px;
            }
        }
        p,
        a {
            font-size: 13px;
            line-height: 23px;
            color: #fff;
        }
    }
    &__text {
        margin-right: 35px;
        width: 260px;
        @media (max-width: @desktop) {
            width: 45%;
        }
        @media (max-width: @tablet) {
            margin-right: 0;
            margin-bottom: 25px;
            width: 98%;
            text-align: center;
        }
        img {
            display: block;
            margin-bottom: 35px;
            @media (max-width: @tablet) {
                display: inline-block;
                margin-bottom: 10px;
            }
        }
    }
    &__subscribe {
        margin-right: 30px;
        width: 270px;
        @media (max-width: @desktop) {
            margin-right: 0;
            width: 45%;
        }
        @media (max-width: @mobile) {
            margin-right: 0;
            margin-bottom: 25px;
            width: 98%;
        }
    }
    &__field {
        position: relative;
        margin-bottom: 21px;
        width: 270px;
        height: 46px;
        @media (max-width: @tablet) {
            margin: 0 auto 15px;
        }
        @media (max-width: @mobile) {
            margin: 0 auto 15px;
        }
        input {
            padding: 0 35px 0 15px;
            width: 100%;
            height: 46px;
            border: 2px solid #fff;
            border-radius: 3px;
            font-size: 14px;
            color: #fff;
            background: transparent;
            &:focus {
                outline: none;
            }
        }
        button {
            position: absolute;
            right: 10px;
            top: 0;
            height: 46px;
            cursor: pointer;
            border: none;
            color: #fff;
            background: transparent;
            transition: .3s;
            &:hover {
                color: #cecece;
            }
        }
    }
    &__explore {
        margin-right: 65px;
        width: 230px;
        @media (max-width: @desktop) {
            margin-right: 0;
            width: 45%;
        }
        @media (max-width: @mobile) {
            margin-right: 0;
            width: 98%;
        }
        ul {
            .dib(top);
            margin-right: 30px;
            font-size: 0;
            &:last-of-type {
                margin-right: 0;
            }
            li {
                margin-bottom: 7px;
                font-size: 13px;
            }
        }
    }
    &__copyright {
        width: 235px;
        @media (max-width: @desktop) {
            width: 45%;
        }
        @media (max-width: @tablet) {
            width: 95%;
        }
        p {
            padding-left: 10px;
            color: #000;
            i {
                margin-right: 5px;
            }
            &:first-of-type {
                padding-left: 10px;
                margin: 62px 0 45px;
                border-left: 1px solid #848484;
                color: #fff;
                i {
                    margin: 0 5px;
                    color: #157562;
                }
            }
        }
    }
}