.isotope {
    text-align: center;
    .iso-nav {
        margin: 20px 0 35px;
        ul {
            text-align: center;
            li {
                .dib(top);
                padding: 5px 15px;
                margin-right: 50px;
                font-size: 14px;
                font-weight: bold;
                cursor: pointer;
                color: #000;
                &.active {
                    border-radius: 5px;
                    color: #fff;
                    background: @green;
                }
            }
        }
    }
    .main-iso {
        max-width: 1600px;
        margin: 0 auto;
        .iso-item {
            .dib(top);
            position: relative;
            max-width: 400px;
            height: 299px;
            a {
                position: absolute;
                content: '';
                display: block;
                left: 0;
                right: 0;
                height: 100%;
                transition: all .3s;
                color: #fff;
                i {
                    .dib(top);
                    padding: 0 5px;
                    width: 40px;
                    line-height: 40px;
                    border-radius: 50%;
                    text-align: center;
                    border: 1px solid #fff;
                    color: #fff;
                }
                span {
                    opacity: 0;
                    transition: .3s;
                }
                u {
                    .dib(top);
                    width: 100%;
                    text-decoration: none;
                    font-weight: bold;
                    transition: .3s;
                    opacity: 0;
                }
            }
            &:hover {
                a {
                    background: rgba(32,180,148, .8);
                }
                span {
                    opacity: 1;
                }
                u {
                    opacity: 1;
                }
            }
            .hover-text {
                position: relative;
                top: 35%;
                display: inline-block;
            }
        }
    }
}