.section-top {
    padding: 60px 0 30px;
    text-align: center;
    h2 {
        padding-bottom: 10px;
        font-size: 28px;
        font-weight: 900;
        text-transform: uppercase;
        color: @green;
    }
    span {
        position: relative;
        display: inline-block;
        padding: 0 25px 20px;
        line-height: 0;
        color: @gray;
        &::before,
        &::after {
            position: absolute;
            content: '';
            top: 10px;
            left: -110px;
            display: inline-block;
            width: 110px;
            height: 1px;
            background: @gray;
        }
        &::after {
            left: auto;
            right: -110px;
        }
    }
    p {
        margin: 0 auto;
        max-width: 930px;
        width: 100%;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: @deep-blue;
    }
    &._white {
        h2 {
            color: #fff;
        }
    }
}